@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700');

* {
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    margin: 0;
    --anaglyph-depth: 1px;
    text-shadow: calc(-1 * var(--anaglyph-depth)) 0 0 #ff000080,
        var(--anaglyph-depth) 0 0 #00ffff80;
    font-size: large;
    transform-style: preserve-3d;
}

body {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    border: 0;
    padding: 0;
    background: #000;
    color: #fff;
}

body, .center, .center-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center-row {
    flex-direction: row;
}

body::before, body::after {
    --light-scanline: #ffffff0a;
    --dark-scanline: #00000008;
    --scanline-height: 4px;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100dvw;
    height: 100dvh;
    z-index: 99999;
}

body::before {
    background: repeating-linear-gradient(to bottom,
        var(--light-scanline) 0,
        var(--light-scanline) var(--scanline-height),
        var(--dark-scanline) var(--scanline-height),
        var(--dark-scanline) calc(2 * var(--scanline-height))
    );
}

body::after {
    background: repeating-linear-gradient(1deg,
        var(--light-scanline) 0,
        var(--light-scanline) var(--scanline-height),
        #0000 var(--scanline-height),
        #0000 100dvh
    );
    animation: scanline-scroll 10s linear infinite;
}

@keyframes scanline-scroll {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 100dvh;
    }
}

#viewport {
    height: min(100dvh, calc(100dvw / var(--aspect-ratio)));
    width: min(100dvw, calc(100dvh * var(--aspect-ratio)));
}

.header, .footer {
    background: #00002244;
    backdrop-filter: blur(2px);
    transition: background 0.2s ease-in-out;
}

.header:hover, .footer:hover {
    background: #00002266;
}

.arena {
    flex-grow: 1;
    position: relative;
}

.icons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    grid-auto-rows: 0;
    overflow: hidden;
}

.icons > * {
    min-width: 0;
    min-height: 0;
}

/* Desktop */
@media (min-aspect-ratio: 1/1) {
    #viewport {
        --aspect-ratio: calc(16 / 9);
    }
}

@container (aspect-ratio > 1) {
    .if-mobile {
        display: none;
    }

    .header {
        display: none;
    }

    .icons {
        height: calc(100% - (100% / 9 - 100% / 16));
        --cols: 16;
        --rows: 8;
    }
}

/* Mobile */
@media (max-aspect-ratio: 1/1) {
    #viewport {
        --aspect-ratio: calc(9 / 16);
    }
}

@container (aspect-ratio < 1) {
    .if-desktop {
        display: none;
    }

    .header {
        height: calc(100% / 16);
    }

    .icons {
        height: 100%;
        --cols: 9;
        --rows: 14;
    }
}

.footer {
    height: calc(100% / 16);
}

.desktop-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    container-type: size;
}

.login, .desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.login {
    background: #18776A;
    transition: opacity 0.2s ease-in-out;
}

.desktop {
    display: flex;
    flex-direction: column;
}

.gap {
    gap: 1ch;
}

.icon, .large-icon {
    background: #0002;
}

.icon svg, .large-icon svg {
    width: 100%;
    height: 100%;
}

.icon svg, .large-icon svg, .anaglyph-drop-shadow {
    filter: drop-shadow(calc(-1 * var(--anaglyph-depth)) 0 0 #ff000080)
    drop-shadow(var(--anaglyph-depth) 0 0 #00ffff80);
}

.large-icon {
    width: 6ch;
    height: 6ch;
    padding: 1ch;
    border-radius: 50%;
}

.log-in-button {
    transition: opacity 0.2s ease-in-out;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.pointer:not(.hidden) {
    cursor: pointer;
}

input {
    outline: none;
    margin: 0;
    border: 0;
}

input[readonly] {
    pointer-events: none;
}

.password[type=text]:not(:placeholder-shown) {
    font-style: italic;
    color: gray;
}

.desktop {
    background:
            linear-gradient(to bottom,
            #0000ff 0%, #8800ff 40%, #e600e6 60%,
            #e63d00 70%,
            #ff00ff 80%, #8800ff 90%, #0000ff 140%)
        ;
}